.games {
  background-color: black;
}

.games__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.game__cardContainer--text > p {
  color: white;
  inline-size: 90%;
  overflow-wrap: break-word;
  padding: 4px 4px 4px 0px;
}

.game__cardContainer--text > h3 {
  color: white;
  text-transform: uppercase;
}

.game {
  width: calc(100% / 2);
}

.game__cardContainer--img {
  margin-right: 24px;
  border: 10px solid lightgray;
}

.game__card {
  display: flex;
  align-items: center;
  margin-top: 24px;
}