.games {
  background-color: black;
}

.games__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.game__cardContainer--text > p {
  color: white;
  inline-size: 95%;
  overflow-wrap: break-word;
  padding: 5px 5px 5px 0px;
}

.game__cardContainer--text > h3 {
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.game {
  width: calc(100% / 2);
}

.game__cardContainer--img {
  margin-right: 24px;
  border: 10px solid lightgray;
  transition: 300ms all ease;
  object-fit: contain;
  background-color: white;
}

.game__cardContainer--img:hover {
  transform: scale(1.1);
  transition: 300ms all ease;
  background-color: greenyellow;
}

.game__card {
  display: flex;
  align-items: center;
  padding: 24px;
}

select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
  margin-left: 24px;
  margin-top: 24px;
  object-position: right top;
}