.games__list {
  display: flex;
  width: 100vw;
}

.game__card {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game__cardContainer > p {
  color: white;
}