.landing {
  height: 100vh;
  background-image: url("https://i.imgur.com/RR0J7Z0.jpg");
}

.landing__searchInput {
  border: none;
  outline: 0;
  font-size: 20px;
  margin-left: 25px;
  margin-top: 24px;
  width: 90%;
  background-color: transparent;
}

.landing__searchInput::placeholder {
  color: rgba(255, 255, 255, 0.3) !important;
}

.landing__searchBar {
  box-sizing: border-box;
  max-width: 700px;
  height: 70px;
  margin: 400px auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
